@font-face {
	font-family: 'Adam CG Pro';
    font-style: normal;
	font-weight: 400;
	src: url('./fonts/ADAM.CG PRO.otf');
}

html {
	font-family: 'Adam CG Pro';
	font-size: 16px;
	color: #04030F;
	box-sizing: border-box;
}

* {
	&::after, &::before {
		box-sizing: border-box;
	}
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

body {
	margin: 0 auto;
	padding: 0;
}
