.wizzard-wrapper {
  display: flex; }

.wizzard-nav {
  flex: 0 25%;
  border-right: 2px solid #04030f;
  min-height: 100vh; }

.wizzard-content {
  flex: 0 75%;
  padding-left: 20px; }
  .wizzard-content .search-field {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end; }

.wizzard-content-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0; }
  .wizzard-content-list .active {
    background-color: #91b7c7; }
  .wizzard-content-list li {
    flex: 0 48%;
    padding: 5px 20px;
    box-sizing: border-box;
    border: 5px solid #91b7c7;
    margin-bottom: 20px; }
    .wizzard-content-list li:nth-child(2n-1) {
      margin-right: 20px; }
    .wizzard-content-list li:hover {
      background-color: #91b7c7;
      cursor: pointer; }
    .wizzard-content-list li .list-item-wrapper {
      display: flex;
      justify-content: space-between; }
      .wizzard-content-list li .list-item-wrapper img {
        max-width: 100%;
        max-height: 100%; }
      .wizzard-content-list li .list-item-wrapper div:first-of-type {
        flex: 0 20%; }
      .wizzard-content-list li .list-item-wrapper div:last-of-type {
        padding-top: 15px;
        flex: 0 70%; }
    .wizzard-content-list li .profile-email {
      color: #b3bdc7;
      font-size: 10px;
      padding: 0;
      margin: 0; }
    .wizzard-content-list li .profile-name {
      padding: 0;
      margin: 0; }
  .wizzard-content-list li.companies {
    flex: 0 100%;
    text-align: center; }
    .wizzard-content-list li.companies:nth-child(2n-1) {
      margin-right: 0px; }
    .wizzard-content-list li.companies .company-wrapper {
      padding: 10px 0; }

.wizzard-content-nav {
  display: flex;
  justify-content: space-between; }
  .wizzard-content-nav button {
    height: 50px;
    width: 120px;
    border: none;
    padding: 5px 20px;
    font-family: inherit;
    font-size: inherit;
    background-color: #91b7c7;
    cursor: pointer; }
    .wizzard-content-nav button:hover:enabled {
      background-color: #dee7e7;
      border: 5px solid #91b7c7; }
  .wizzard-content-nav .hide {
    display: none; }

.wizzard-content-form {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .wizzard-content-form .form-item {
    flex: 0 30%;
    padding: 10px 0; }
    .wizzard-content-form .form-item select,
    .wizzard-content-form .form-item input,
    .wizzard-content-form .form-item textarea {
      width: 100%;
      border: 2px solid #91B7C7;
      font-family: inherit;
      padding: 5px; }
    .wizzard-content-form .form-item select {
      height: 32px; }
    .wizzard-content-form .form-item textarea {
      min-height: 150px;
      box-sizing: border-box; }
    .wizzard-content-form .form-item span {
      display: block; }
    .wizzard-content-form .form-item:nth-child(4) {
      flex: 0 100%;
      padding-bottom: 0px; }
  .wizzard-content-form .submit-container {
    width: 100%;
    text-align: right;
    display: block;
    position: relative; }
    .wizzard-content-form .submit-container button {
      height: 50px;
      width: 120px;
      border: none;
      padding: 5px 20px;
      font-family: inherit;
      font-size: inherit;
      background-color: #91b7c7;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 0px; }
      .wizzard-content-form .submit-container button:hover:enabled {
        background-color: #dee7e7;
        border: 5px solid #91b7c7; }
  .wizzard-content-form .error-field {
    font-size: 14px;
    color: #a10505;
    padding-top: 10px; }

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #91B7C7 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #91B7C7 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #91B7C7 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #91B7C7 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #91B7C7 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader:before {
  width: 50%;
  height: 50%;
  background: #91B7C7;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: ''; }

.loader:after {
  background: #DEE7E7;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
  .wizzard-content-list li {
    flex: 0 100%; } }
/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  .wizzard-content-list li {
    flex: 0 100%; } }
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  .wizzard-content-list li {
    flex: 0 48%; } }
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
  .wizzard-content-list li {
    flex: 0 48%; } }

/*# sourceMappingURL=Wizzard.css.map */
